.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-auto-rows: minmax(120px, auto);
}

.calendar-scroll::-webkit-scrollbar {
  width: 6px;
}

.calendar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.calendar-scroll::-webkit-scrollbar-thumb {
  background: #e1e2e4;
  border-radius: 10px;
}
